# Laravel
/vendor/
/node_modules/
/public/build/
/storage/
.env
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
/public/hot
/public/storage
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css

# IDE
.idea/
.vscode/

# Docker
/docker/.env

# OS
.DS_Store
Thumbs.db
